%% -*- mode: Erlang; -*-
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
  {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}}
]
}.