%% -*- mode: Erlang; -*-
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
  {eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters.git", {branch, "master"}}},
  {cowlib, ".*", {git, "https://github.com/ninenines/cowlib.git", {branch, "master"}}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}},
  {eredis, ".*", {git, "https://github.com/wooga/eredis", {branch, "master"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}}
]}.
{require_otp_vsn, "17"}.
{erl_opts, [
  debug_info, 
  {i, "apps"}, 
  warn_unused_vars, 
  {parse_transform, lager_transform}
]}.
{clean_files, ["*.eunit", "ebin/*.beam", "specs/*.beam", "specs/logs/*"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.
{ct_dir, "specs"}.
{ct_log_dir, "specs/logs"}.
{ct_extra_params, "-config specs/test.config"}.